body {
  margin : 0;
  text-align: center;
  font-family: 'Merriweather', serif;

}

h1{
  color: #66bfbf;
  font-size: 90px;
  line-height: 1.8;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  color: #66bfbf;
  font-family: 'Montserrat', sans-serif;
}

h3 {
  color:#11999e;
  font-family: 'Montserrat', sans-serif;
}

.para{
  font-size: 2.5rem;
  font-weight: normal;
  color: #66bfbf;
}

.top-container {
  background-color: #e4f9f5;          /* PADDING does not change height of the box */
  padding-top: 120px;
  position: relative;

}

.middle-container{
  margin-top: 50px;
  position: relative;
}

.pro {
  text-decoration: underline;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;

}



.top-cloud{
  position: absolute;
  right: 300px;
  top: 60px;
}

.bottom-cloud{
  position: absolute;
  left: 320px;
}

.badminton{
     border-radius: 100%;
     width: 25%;
     float: right;
     margin-left: 30px;
}
.camera{
  width:25%;
  float: left;
  margin-right: 30px;
}
.circular{
  border-radius: 100%;
}
hr{
  border : none;
  border-top-style: dotted;
  border-color: grey ;
  border-width: 5px;
  width: 5%;
}
.space{
  margin-bottom: 0px;
}
.space1{
  margin-top: 1px;
}
.bottom-container{
  background-color: #66bfbf;
  padding-top: 40px;
  padding-bottom: 30px;
}
.button {
  background-color: #46bfbf;
  border-radius: 10px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.contact-me{
  margin-bottom: 60px;
}
.last-tag{
  color: #eaf6f6;
  margin-top: 30px;
}
.footer-link{
  color: #11999e;
  margin-left: 30px;
  text-decoration: none;
}
